# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
project.xcworkspace/

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Logs & Debug
*.log
*.swp

# IDEs and tooling
.idea/
.vscode/
.DS_Store?

# Playgrounds
timeline.xctimeline
playground.xcworkspace/
